
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KT5BH79W');</script>
    <!-- End Google Tag Manager -->
    <title>Traveloagency: Book Flight Tickets &amp;amp; Deals | Best Travel Agency</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="Flight Ticket Deals, Airlines Tickets Deals, Book Airlines Flight Tickets" />
    <meta name="description" content="Traveloagency is the best place to book airline tickets for your next trip. We offer flight deals on your air journey. Get airline flights with us now." />
    <meta name="robots" content="nofollow, noindex" />
    <link rel="canonical" href="https://www.traveloagency.com/" />
    <link rel="alternate" href="https://www.traveloagency.com/" hreflang="en-us" />

    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <!-- Style include-->
    <link href="/css/bootstrap.min.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <link href="/css/jquery-ui.min.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <link href="/css/slick-theme.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <link href="/font-awesome-4.7.0/css/font-awesome.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <noscript>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
        <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.css" type="text/css" />
    </noscript>
    <link href="/css/style.css" rel="stylesheet" />
    <!-- Js include-->
    <script src="/js/bundleV220213.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="javascripts/html5.js"></script>
    <![endif]-->
    <base href="/">
    <script type="text/javascript">
        $(document).ready(function () {
            $(".click_div").click(function () {
                $(this).next().show();
                $(".mobile_overlay").css("height", "100%");
            });
            $(function () {
                $("#tabs").tabs();
                $("#tabs2").tabs();
            });
        });
    </script>
 

</head>
<body id="ff-theme">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KT5BH79W"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="ffwrapper" ng-app="MyApp" ng-controller="HomeController">
        <div ng-include="'/Templates/header.html'"></div>

        <div data-ng-init="loadData()">
            <div id="ff_mainCntr" class="mainCntr">
                <div class="BannerContains">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">

                                <h1 class="tagline">  Compare & Book All Major Airlines Flights With Traveloagency </h1>
                                <form ng-submit="submit(SearchFrom.$valid)" name="SearchFrom" novalidate="novalidate">
                                    <div class="searchBox">
                                        <div class="searchBlock">
                                            <div class="top_row">
                                                <div class="triptype_action relative">
                                                    <div class="click_div trip cursor ng-binding" ng-show="round || !round">Round Trip <i class="arrow-icon bi bi-chevron-down"></i></div>
                                                    <!--Open block-->
                                                    <div class="Mobiletrip_type" id="tripParent" style="display: none;">
                                                        <ul>
                                                            <li ng-class="{ active: istriptypeSet(1) }" ng-click="traveltype('1')" id="roundtrip" class="active"><i class="bi bi-check-circle"></i> Round Trip</li>
                                                            <li ng-class="{ active: istriptypeSet(2) }" ng-click="traveltype('2')" id="oneway"><i class="bi bi-check-circle"></i> One Way</li>
                                                        </ul>
                                                    </div>
                                                    <!--Open block End-->
                                                </div>

                                                <div class="traveler_action relative">
                                                    <div class="click_div cursor"> Traveler <span id="trvltext">1</span> <i class="arrow-icon bi bi-chevron-down"></i></div>
                                                    <!--Open block-->
                                                    <div class="mobile_travelerBox" style="display: none;">
                                                        <!--Adult-->
                                                        <div class="add-traveler">
                                                            <span class="travelers__options">
                                                                <a class="remove minus" ng-click="removePassenger('AdultsRT')"><i class="fa fa-minus"></i></a>
                                                                <strong class="number cnt travelcount adult" id="AdultsRT">1</strong>
                                                                <a class="add plus" id="adult-plus" ng-click="addPassenger('AdultsRT')"><i class="fa fa-plus"></i></a>

                                                            </span>
                                                            Adult
                                                        </div>

                                                        <!--Child-->
                                                        <div class="add-traveler">
                                                            <span class="travelers__options">
                                                                <a class="remove minus disable" ng-click="removePassenger('ChildrenRT')"><i class="fa fa-minus"></i></a>
                                                                <strong class="number cnt travelcount chld" id="ChildrenRT">0</strong>
                                                                <a class="add plus" id="adult-plus" ng-click="addPassenger('ChildrenRT')"><i class="fa fa-plus"></i></a>
                                                            </span>
                                                            Child <small>(2 - 11)</small>
                                                        </div>

                                                        <!--Infant-->
                                                        <div class="add-traveler">
                                                            <span class="travelers__options">
                                                                <a class="remove disable minus" ng-click="removePassenger('InfantsRT')"><i class="fa fa-minus"></i></a>
                                                                <strong class="number cnt travelcount inf" id="InfantsRT">0</strong>
                                                                <a class="add plus" id="adult-plus" ng-click="addPassenger('InfantsRT')"><i class="fa fa-plus"></i></a>
                                                            </span>
                                                            Infant <small>(on lap)</small>
                                                        </div>

                                                        <!--Infant-->
                                                        <div class="add-traveler">
                                                            <span class="travelers__options">
                                                                <a class="remove disable minus" ng-click="removePassenger('InfantsRTonSeat')"><i class="fa fa-minus"></i></a>
                                                                <strong class="number cnt travelcount inf" id="InfantsRTonSeat">0</strong>
                                                                <a class="add plus" id="adult-plus" ng-click="addPassenger('InfantsRTonSeat')"><i class="fa fa-plus"></i></a>
                                                            </span>
                                                            Infant <small>(on seat)</small>
                                                        </div>
                                                        <div class="traveler_action_button">
                                                            <a href="javascript:void(0);" ng-click="ResetTravelerBox()" class="done_Btn disable">Reset All</a>
                                                            <a href="javascript:void(0);" ng-click="hideTravelerBox()" class="done_Btn active">Done</a>
                                                        </div>

                                                    </div>
                                                    <!--Open block End-->

                                                </div>

                                                <div class="class_action relative">
                                                    <div class="click_div ct cursor ng-binding" ng-show="!isNullOrEmpty(SearchCritaria.Cabin.Class)">Economy <i class="arrow-icon bi bi-chevron-down"></i></div>

                                                    <!--Open block-->
                                                    <div class="Mobiletrip_type class-type" style="display: none;">
                                                        <ul>
                                                            <li ng-class="{active : SearchCritaria.Cabin.Class==1}" ng-click="classTypeChanged('1',0)" class="active"><i class="bi bi-check-circle"></i> Economy</li>
                                                            <li ng-class="{active : SearchCritaria.Cabin.Class==2}" ng-click="classTypeChanged('2',1)"><i class="bi bi-check-circle"></i> Premium economy</li>
                                                            <li ng-class="{active : SearchCritaria.Cabin.Class==4}" ng-click="classTypeChanged('4',2)"><i class="bi bi-check-circle"></i> Business</li>
                                                            <li ng-class="{active : SearchCritaria.Cabin.Class==6}" ng-click="classTypeChanged('6',3)"><i class="bi bi-check-circle"></i> First</li>
                                                        </ul>
                                                    </div>
                                                    <!--Open block End-->

                                                </div>
                                                <a ng-click="RedirectToURL('advertiser-disclosure')" style="font-size:9px;text-decoration: underline;color: #222; position:absolute; right:20px;">Advertiser Disclosure</a>
                                                <!--Mobile round trip -->

                                                <div class="mobile_overlay"> </div>
                                                <!--Mobile round trip -->

                                            </div>
                                            <div class="flightSearch">
                                                <div class="column_1 box-shadow">
                                                    <div class="label first">
                                                        <input type="text" class="inputField" ng-hide="true" name="org" autocomplete="nope" ng-model="SearchCritaria.Origin.Code" />
                                                        <angucomplete-alt id="ex1"
                                                                          push="100"
                                                                          pause="100"
                                                                          focus-in="clearInput('ex1')"
                                                                          class="flight-search-input airport-search flight-search-departure from data-hj-whitelist"
                                                                          initial-value="SearchCritaria.Origin"
                                                                          selected-object="SearchCritaria.SelectedOrigin"
                                                                          local-data="AirportsDetailedList"
                                                                          search-fields="Code,AirportFullName"
                                                                          title-field="AirportFullName"
                                                                          minlength="1"
                                                                          input-name="org1"
                                                                          local-search="localSearch"
                                                                          inputclass="form-control form-control-small"
                                                                          match-class="highlight" />
                                                        <span class="label_name">Leaving From</span>
                                                        <span class="icons bi bi-geo-alt"></span>
                                                    </div>


                                                    <div class="label">
                                                        <input type="text" class="inputField" autocomplete="nope" ng-hide="true" name="dest" ng-model="SearchCritaria.Destination.Code" />
                                                        <angucomplete-alt id="ex2"
                                                                          focus-in="clearInput('ex2')"
                                                                          push="100"
                                                                          class="flight-search-input airport-search data-hj-whitelist"
                                                                          initial-value="SearchCritaria.Destination"
                                                                          selected-object="SearchCritaria.SelectedDestination"
                                                                          local-data="AirportsDetailedList"
                                                                          search-fields="Code,AirportFullName"
                                                                          title-field="AirportFullName"
                                                                          minlength="1"
                                                                          input-name="dest1"
                                                                          local-search="localSearch"
                                                                          inputclass="form-control form-control-small"
                                                                          match-class="highlight" />
                                                        <span class="label_name">Where To</span>
                                                        <span class="icons bi bi-geo-alt"></span>
                                                    </div>
                                                    <!--<span class=" text-danger" ng-show="!isNullOrEmpty(SearchCritaria.Origin)&& !isNullOrEmpty(SearchCritaria.Destination) &&SearchCritaria.Destination.Code==SearchCritaria.Origin.Code">Origin and Destination should not to match!</span>-->
                                                    <p ng-show="(SearchFrom.org1.$invalid &&  SearchFrom.$submitted) || !validOrg" class="textred ng-hide"><i class="bi bi-exclamation-circle"></i> Please Enter Origin.</p>
                                                    <p ng-show="(SearchFrom.dest1.$invalid &&  SearchFrom.$submitted) || !validDest" class="error-destination textred ng-hide"><i class="bi bi-exclamation-circle"></i> Please Enter Destination.</p>
                                                </div>

                                                <div class="column_2 box-shadow return_date" style="position: relative;">

                                                    <div class="label cursor depCal">
                                                        <input type="text" class="inputField datedepart valid" id="datepicker" autocomplete="off" placeholder="Depart" name="depDt" ng-model="SearchCritaria.DepartureDate" readonly datepicker>
                                                        <span class="label_name">Depart</span>
                                                        <span class="icons bi bi-calendar3 calender-icon"></span>
                                                    </div>
                                                    <div class="label cursor retCal">
                                                        <input type="text" autocomplete="off" placeholder="Return" id="datepicker2" name="retDt" readonly ng-model="SearchCritaria.ReturnDate" class="inputField datereturn valid" datepicker>
                                                        <span class="label_name">Return</span>
                                                        <span class="icons bi bi-calendar3 calender-icon"></span>
                                                    </div>

                                                    <p ng-show="!validDate" class="textred date ng-hide"><i class="bi bi-exclamation-circle"></i> Please Select Valid Travel Date.</p>

                                                </div>

                                                <div class="column_3 box-shadow">
                                                    <button type="submit" class="searchButton"><i class="bi bi-search"></i> Search</button>
                                                </div>

                                            </div>
                                            <!--<button type="submit" class="mobilesearchButton">Search</button>-->

                                        </div>
                                        <input type="hidden" value="" name="air" autocomplete="off">
                                    </div>
                                </form>


                            </div>
                        </div>

                    </div>
                </div>
                <div id="ff_ContentCenter">
                    <div ng-include="'/Templates/usp.html'"></div>
                    <div ng-include="'/Templates/husp.html'"></div>

                    <div class="top_destinationBox">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="page__title">Popular Destination </div>
                                    <p>
                                        So many places.. So little time! Hurry up.
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <figure ng-click="RedirectToURL('destinations/cheap-flights-to-dubai')">
                                        <img src="/images/home/dubai.webp" width="555" height="269" alt="dubai">
                                        <figcaption>
                                            <h4>Dubai</h4>
                                            <small>United Arab Emirates</small>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-4 pl-md-1">
                                    <div class="top">
                                        <figure ng-click="RedirectToURL('destinations/cheap-flights-to-new-york')">
                                            <img src="/images/home/newyork.webp" width="566" height="269" alt="newyork">
                                            <figcaption>
                                                <h4>New York</h4>
                                                <small>United States</small>
                                            </figcaption>
                                        </figure>
                                    </div>

                                </div>

                                <div class="col-md-12 pl-md-1">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="bottom">
                                                        <figure ng-click="RedirectToURL('destinations/cheap-flights-to-bangkok')">
                                                            <img src="/images/home/bangkok.webp" width="566" height="269" alt="bangkok">
                                                            <figcaption>
                                                                <h4>Bangkok</h4>
                                                                <small>Thailand</small>
                                                            </figcaption>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="bottom">
                                                        <figure ng-click="RedirectToURL('destinations/cheap-flights-to-dallas')">
                                                            <img src="/images/home/dalles.webp" width="566" height="269" alt="bangkok">
                                                            <figcaption>
                                                                <h4>Dallas</h4>
                                                                <small>United States</small>
                                                            </figcaption>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="bottom">
                                                <figure ng-click="RedirectToURL('destinations/cheap-flights-to-san-francisco')">
                                                    <img src="/images/home/SanFrensico.webp" width="566" height="269" alt="bangkok">
                                                    <figcaption>
                                                        <h4>San Francisco</h4>
                                                        <small>United States</small>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dealCntr" style="background: #F3EEF1;">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="page__title">Popular Routes</div>
                                    <p>Come let's fly</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="holder">
                                        <div class="deal__block">
                                            <ul class="deals home_deal">
                                                <li>
                                                    <form name="offer_search" id="offerForm_D_0" class="ng-pristine ng-valid">
                                                        <input type="hidden" value="roundtrip" name="JType" autocomplete="off">
                                                        <input type="hidden" value="LAX" name="org" autocomplete="off">
                                                        <input type="hidden" value="LAS" name="dest" autocomplete="off">
                                                        <input type="hidden" value="2025-08-17" name="depDt" autocomplete="off">
                                                        <input type="hidden" value="2025-08-24" name="retDt" autocomplete="off">
                                                        <input type="hidden" value="1" name="ct" autocomplete="off">
                                                        <input type="hidden" value="1" name="adt" autocomplete="off">
                                                        <input type="hidden" value="0" name="snr" autocomplete="off">
                                                        <input type="hidden" value="0" name="chd" autocomplete="off">
                                                        <input type="hidden" value="0" name="inf" autocomplete="off">
                                                        <input type="hidden" value="UA" name="air" autocomplete="off">
                                                    </form>
                                                    <a href="#" ng-click="offerSearch('0','D')">
                                                        <div class="column first">
                                                            <img src="/images/Airline_logos/ua.png" class="airline__logo" alt="Major" width="36" height="36" />
                                                            <div class="deal-flex">
                                                                <span class="airline__name">United Airlines</span>
                                                            </div>
                                                        </div>
                                                        <div class="column column-2">
                                                            <span class="city__code">LAX</span>
                                                            <img src="/images/home/flight_black.svg" alt="flight_black" class="flight__icon" width="24" height="17" />
                                                            <span class="city__code">LAS</span>
                                                            <div class="deal__date">Aug 17 - Aug 24</div>
                                                        </div>
                                                        <div class="column column-3 text-center">
                                                            <span class="button deal_book">Book Now</span>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <form name="offer_search" id="offerForm_D_1" class="ng-pristine ng-valid">
                                                        <input type="hidden" value="roundtrip" name="JType" autocomplete="off">
                                                        <input type="hidden" value="MCO" name="org" autocomplete="off">
                                                        <input type="hidden" value="ORD" name="dest" autocomplete="off">
                                                        <input type="hidden" value="2025-08-20" name="depDt" autocomplete="off">
                                                        <input type="hidden" value="2025-08-28" name="retDt" autocomplete="off">
                                                        <input type="hidden" value="1" name="ct" autocomplete="off">
                                                        <input type="hidden" value="1" name="adt" autocomplete="off">
                                                        <input type="hidden" value="0" name="snr" autocomplete="off">
                                                        <input type="hidden" value="0" name="chd" autocomplete="off">
                                                        <input type="hidden" value="0" name="inf" autocomplete="off">
                                                        <input type="hidden" value="f9" name="air" autocomplete="off">
                                                    </form>
                                                    <a href="#" ng-click="offerSearch('1','D')">
                                                        <div class="column first">
                                                            <img src="/images/Airline_logos/f9.png" class="airline__logo" alt="Major" width="36" height="36" />
                                                            <div class="deal-flex">
                                                                <span class="airline__name">Frontier Airlines</span>
                                                            </div>
                                                        </div>
                                                        <div class="column column-2">
                                                            <span class="city__code">MCO</span>
                                                            <img src="/images/home/flight_black.svg" class="flight__icon" width="24" height="17" />
                                                            <span class="city__code">ORD</span>
                                                            <div class="deal__date">Aug 20 - Aug 28</div>
                                                        </div>
                                                        <div class="column column-3 text-center ">
                                                            <span class="button deal_book">Book Now</span>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <form name="offer_search" id="offerForm_D_3" class="ng-pristine ng-valid">
                                                        <input type="hidden" value="roundtrip" name="JType" autocomplete="off">
                                                        <input type="hidden" value="MSY" name="org" autocomplete="off">
                                                        <input type="hidden" value="IAH" name="dest" autocomplete="off">
                                                        <input type="hidden" value="2025-08-10" name="depDt" autocomplete="off">
                                                        <input type="hidden" value="2025-08-24" name="retDt" autocomplete="off">
                                                        <input type="hidden" value="1" name="ct" autocomplete="off">
                                                        <input type="hidden" value="1" name="adt" autocomplete="off">
                                                        <input type="hidden" value="0" name="snr" autocomplete="off">
                                                        <input type="hidden" value="0" name="chd" autocomplete="off">
                                                        <input type="hidden" value="0" name="inf" autocomplete="off">
                                                        <input type="hidden" value="nk" name="air" autocomplete="off">
                                                    </form>

                                                    <a href="#" ng-click="offerSearch('3','D')">
                                                        <div class="column">
                                                            <img src="/images/Airline_logos/nk.png" alt="nk" class="airline__logo" width="36" height="36" />
                                                            <div class="deal-flex">
                                                                <span class="airline__name">Spirit Airlines</span>
                                                            </div>
                                                        </div>
                                                        <div class="column column-2">
                                                            <span class="city__code">MSY</span>
                                                            <img src="/images/home/flight_black.svg" class="flight__icon" alt="flight_black" width="24" height="17" />
                                                            <span class="city__code">IAH</span>
                                                            <div class="deal__date">Aug 10 - Aug 24</div>
                                                        </div>
                                                        <div class="column column-3 text-center ">
                                                            <span class="button deal_book">Book Now</span>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </a>
                                                </li>

                                                <li>
                                                    <form name="offer_search" id="offerForm_D_3" class="ng-pristine ng-valid">
                                                        <input type="hidden" value="roundtrip" name="JType" autocomplete="off">
                                                        <input type="hidden" value="MSY" name="org" autocomplete="off">
                                                        <input type="hidden" value="IAH" name="dest" autocomplete="off">
                                                        <input type="hidden" value="2025-08-10" name="depDt" autocomplete="off">
                                                        <input type="hidden" value="2025-08-24" name="retDt" autocomplete="off">
                                                        <input type="hidden" value="1" name="ct" autocomplete="off">
                                                        <input type="hidden" value="1" name="adt" autocomplete="off">
                                                        <input type="hidden" value="0" name="snr" autocomplete="off">
                                                        <input type="hidden" value="0" name="chd" autocomplete="off">
                                                        <input type="hidden" value="0" name="inf" autocomplete="off">
                                                        <input type="hidden" value="nk" name="air" autocomplete="off">
                                                    </form>

                                                    <a href="#" ng-click="offerSearch('3','D')">
                                                        <div class="column">
                                                            <img src="/images/Airline_logos/nk.png" alt="nk" class="airline__logo" width="36" height="36" />
                                                            <div class="deal-flex">
                                                                <span class="airline__name">Spirit Airlines</span>
                                                            </div>
                                                        </div>
                                                        <div class="column column-2">
                                                            <span class="city__code">MSY</span>
                                                            <img src="/images/home/flight_black.svg" class="flight__icon" alt="flight_black" width="24" height="17" />
                                                            <span class="city__code">IAH</span>
                                                            <div class="deal__date">Aug 10 - Aug 24</div>
                                                        </div>
                                                        <div class="column column-3 text-center ">
                                                            <span class="button deal_book">Book Now</span>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </a>
                                                </li>

                                                <li>
                                                    <form name="offer_search" id="offerForm_D_4" class="ng-pristine ng-valid">
                                                        <input type="hidden" value="roundtrip" name="JType" autocomplete="off">
                                                        <input type="hidden" value="NYC" name="org" autocomplete="off">
                                                        <input type="hidden" value="SJU" name="dest" autocomplete="off">
                                                        <input type="hidden" value="2025-08-13" name="depDt" autocomplete="off">
                                                        <input type="hidden" value="2025-08-26" name="retDt" autocomplete="off">
                                                        <input type="hidden" value="1" name="ct" autocomplete="off">
                                                        <input type="hidden" value="1" name="adt" autocomplete="off">
                                                        <input type="hidden" value="0" name="snr" autocomplete="off">
                                                        <input type="hidden" value="0" name="chd" autocomplete="off">
                                                        <input type="hidden" value="0" name="inf" autocomplete="off">
                                                        <input type="hidden" value="UA" name="air" autocomplete="off">
                                                    </form>
                                                    <a href="#" ng-click="offerSearch('4','D')">
                                                        <div class="column">
                                                            <img src="/images/Airline_logos/ua.png" alt="ua" class="airline__logo" width="36" height="36" />
                                                            <div class="deal-flex">
                                                                <span class="airline__name">United Airlines</span>
                                                            </div>
                                                        </div>
                                                        <div class="column column-2">
                                                            <span class="city__code">NYC</span>
                                                            <img src="/images/home/flight_black.svg" alt="flight_black" class="flight__icon" width="24" height="17" />
                                                            <span class="city__code">SJU</span>
                                                            <div class="deal__date">Aug 13 - Aug 26</div>
                                                        </div>
                                                        <div class="column column-3 text-center">
                                                            <span class="button deal_book">Book Now</span>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <form name="offer_search" id="offerForm_D_1" class="ng-pristine ng-valid">
                                                        <input type="hidden" value="roundtrip" name="JType" autocomplete="off">
                                                        <input type="hidden" value="MCO" name="org" autocomplete="off">
                                                        <input type="hidden" value="ORD" name="dest" autocomplete="off">
                                                        <input type="hidden" value="2025-08-20" name="depDt" autocomplete="off">
                                                        <input type="hidden" value="2025-08-28" name="retDt" autocomplete="off">
                                                        <input type="hidden" value="1" name="ct" autocomplete="off">
                                                        <input type="hidden" value="1" name="adt" autocomplete="off">
                                                        <input type="hidden" value="0" name="snr" autocomplete="off">
                                                        <input type="hidden" value="0" name="chd" autocomplete="off">
                                                        <input type="hidden" value="0" name="inf" autocomplete="off">
                                                        <input type="hidden" value="f9" name="air" autocomplete="off">
                                                    </form>
                                                    <a href="#" ng-click="offerSearch('1','D')">
                                                        <div class="column first">
                                                            <img src="/images/Airline_logos/f9.png" class="airline__logo" alt="Major" width="36" height="36" />
                                                            <div class="deal-flex">
                                                                <span class="airline__name">Frontier Airlines</span>
                                                            </div>
                                                        </div>
                                                        <div class="column column-2">
                                                            <span class="city__code">MCO</span>
                                                            <img src="/images/home/flight_black.svg" class="flight__icon" width="24" height="17" />
                                                            <span class="city__code">ORD</span>
                                                            <div class="deal__date">Aug 20 - Aug 28</div>
                                                        </div>
                                                        <div class="column column-3 text-center ">
                                                            <span class="button deal_book">Book Now</span>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>


                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="aboutBox">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-4 order-last order-md-1">
                                    <figure><span></span><img src="/images/home/home_about.webp" class="img-fluid" alt="Get ready to fly with your personal travel agency" widht="360" height="416" /></figure>
                                </div>
                                <div class="col-md-8 order-1">
                                    <div class="content">
                                        <h2>About Us</h2>
                                        <p>Traveloagency, an independent travel portal, operates under the parent company <b>Travel Gliders LLC </b>. We stand as a premier platform dedicated to helping budget-conscious travelers plan unforgettable vacations. Our mission is to simplify the travel search process, with latest technologies and in-house experts. Enjoy a hassle-free booking experience through our user-friendly widget. Founded with a commitment to offering incredible deals, we invite you to make Traveloagency your preferred travel companion. Contact us today, and embark on a vacation of a lifetime with the assurance of unmatched service and unbeatable discounts.</p>
                                        <a ng-click="RedirectToURL('about-us')" class="read_more">Read more </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-include="'/Templates/footer_2.html'"></div>
            </div>
        </div>

    </div>
    <script src="/js/customV220213.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/moment.js"></script>
</body>
</html>

<script>
    var cdnUrl = ''; 
</script>
<script>
    var commonUrl = "https://traveloapi.flightsofares.com/api/";
</script>